{% load static %}
<!DOCTYPE html>
<html lang="en" class="bg">
<head>
    <meta charset="UTF-8">
    <title>GameCheck</title>
</head>
<body class="elements">
<link rel="stylesheet" href="{% static 'css/page.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<header>
    {% include 'core/nav.html' %}
</header>
<div class="inline-order">
    <div class="error-box">
        <p class="font-size-24">Page does not exist!
        <a class="button" href="{% url 'index' %}">Home</a>
        </p>

        <img src="{% static 'images/sad cat.jpg' %}" alt="images/sad cat.jpg" width="720" height="498">
    </div>
</div>
</body>
</html>