{% load static %}
<!DOCTYPE html>
<html lang="en" class="bg">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body class="elements">
<link rel="stylesheet" href="{% static 'css/page.css' %}">
<header>
    {% include 'core/nav.html' %}
</header>
{% if request.user.is_authenticated %}
    <div class="game-box">Already logged in
        <a class="button" href="{% url 'index' %}">Index</a></div>

{% else %}
    <div class="game-box">
        <p class="font-size-24">Create Account</p>
        <form method="post" action="{% url 'sign up user' %}">
            {{ form.as_p }}
            <button class="button">Create account</button>
            {% csrf_token %}
        </form>
    </div>
{% endif %}
</body>
</html>
