{% load static %}
<!DOCTYPE html>
<html lang="en" class="bg">
<head>
    <meta charset="UTF-8">
    <title>GameCheck</title>
</head>
<body class="elements">
<link rel="stylesheet" href="{% static 'css/page.css' %}">
<header>
    {% include 'core/nav.html' %}
</header>

<div class="inline-order">
    <div class="game-box">
        <p>
            {% if object.avatar %}
                <img src="/media/{{ object.avatar }}" alt="temp-default.jpg" width="75" height="75">
            {% else %}
                <img src="{% static 'temp-default.jpg' %}" alt="temp-default.jpg" width="75" height="75">
            {% endif %}
        </p>
        <p>
            {{ object.name }}
        </p>
        <p>
            {{ object.age }}
        </p>
        <p>
            {{ object.gender }}
        </p>
        <p>
            {{ object.bio }}
        </p>
        <p>
            <a class="button" href="{% url 'edit profile' slug=user.slug pk=user.pk %}">Edit profile</a>
        </p>
    </div>
</div>

</body>
</html>