{% load static %}
<!DOCTYPE html>
<html lang="en" class="bg">
<head>
    <meta charset="UTF-8">
    <title>GameCheck</title>
</head>
<body class="elements">
<link rel="stylesheet" href="{% static 'css/page.css' %}">
<header>
    {% include 'core/nav.html' %}
</header>

<div class="inline-order">
    {% if len == 0 %}
        <div class="box">
            <p class="font-size-24">No Reviewed Games!</p>
        </div>
    {% else %}
        <div class="inline-order">
        {% for game in games %}
            <div class="box">
                <p><img src="/media/{{ game.image }}" alt="temp-default.jpg" width="50" height="50"></p>
                <p>{{ game.title }}</p>
                <p>
                    <a class='button' href="{% url 'details game' pk=game.pk %}">Details game</a>
                </p>
            </div>
            {% if forloop.counter|divisibleby:4 %}
            </div>
                <div class="inline-order">
        {% endif %}
        {% endfor %}
            </div>
    {% endif %}
</div>

{% if not page_obj %}

{% else %}
    <div>
        <p class="white-color">
            {% if page_obj.has_previous %}
                <a class="button" href="?page=1">First</a>
                <a class="button" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            {% if page_obj.has_next %}
                <a class="button" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="button" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
        </p>
    </div>
{% endif %}
</body>
</html>
