body {
    height: 125vh;
    margin-top: 10px;
    margin-left: 250px;
    padding: 30px;
    background-size: cover;
    font-family: sans-serif;
}


.image-button {
    height: 30px;
    width: 50px;
    align-items: center;
}


.nav {
    position: fixed;
    text-align: center;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    /*background-color: #4c4a4a;*/
    background-image: url('/static/images/rain-banner.webp');
    width: 100%;
    border: 2px solid #b1aaaa;
}


.nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-style: italic;
}


.nav a:hover {
  background-color: #ddd;
  color: black;
}


.nav a.active {
  background-color: #ddd;
  color: white;
}

.nav-right {
  float: right;
}


.leftnav {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 52px;
    left: 0;
    background-image: url('/static/images/rain-banner.webp');
    /*background-color: #4c4a4a;*/
    border: 2px solid #b1aaaa;
    overflow-x: hidden;
    padding-top: 0;
}

.leftnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-style: italic;
}

.leftnav li {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    font-style: italic;
}

.leftnav a:hover {
  background-color: #ddd;
  color: black;
}


.leftnav a.active {
    background-color: #ddd;
    color: white;
}

