{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GameCheck</title>
</head>
<body>

<header>
    {% include 'nav.html' %}
</header>

<ul>
    <li>
        {% if object.avatar%}
            <img src="/media/{{ object.avatar }}" alt="temp-default.jpg">
        {% else %}
            <img src="{% static 'temp-default.jpg' %}" alt="temp-default.jpg">
        {% endif %}
    </li>
    <li>
        {{ object.name }}
    </li>
    <li>
        {{ object.age }}
    </li>
    <li>
        {{ object.gender }}
    </li>
    <li>
        {{ object.bio }}
    </li>
    <li>
        <a href="{% url 'edit profile' slug=user.slug pk=user.pk %}">Edit profile</a>
    </li>

</ul>

</body>
</html>