<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GameCheck</title>
</head>
<body>

<header>
    {% include 'nav.html' %}
</header>
<ul>
    <li>
        {{ game.title }}
    </li>
    <li>
        <img src="/media/{{ game.image }}" alt="temp-default.jpg" width="50" height="50">
    </li>
    <li>
        {{ average }}
    </li>
    <li>
        {% if personal_rating == 11 %}
            <form method="post" action="{% url 'rate game' game.pk %} " enctype="multipart/form-data">
                {{ rating_form.as_p }}
                <button>Rate</button>{% csrf_token %}
            </form>
        {% else %}
            {{ personal_rating }}
        {% endif %}
    </li>
    {% for comment in game_comments %}
        <li>
            {{ comment.content }}
        </li>
    {% endfor %}
    <li>
        {% if has_commented %}
            You have already commented!
        {% else %}
            <form method="post" action="{% url 'comment game'  game.pk %} " enctype="multipart/form-data">
                {{ comment_form.as_p }}
                <button>Comment</button>
                {% csrf_token %}
            </form>
        {% endif %}
    </li>
</ul>
</body>
</html>