{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navigation</title>
</head>
<body>
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<div class="nav">
    <a href="{% url 'index' %}">
        HOME
    </a>
    <div class="nav-right">
        {% if not request.user.is_authenticated %}
            <a href="{% url 'sign up user' %}">
                Sign up
            </a>
            <a href="{% url 'sign in user' %}">
                Sign in
            </a>
        {% else %}
            {# TODO: FIX those links #}
            {% if not request.user.is_superuser %}
                <a href="#">
                    No
                </a>
            {% else %}
                <a href="#">
                    Yes
                </a>
            {% endif %}

            <a href="{% url 'sign out user' %}">
                Sign out
            </a>
        {% endif %}
    </div>
</div>
<div class="leftnav">
    {% if not request.user.is_authenticated %}

    {% else %}
        <li>
            <img src="/static/images/star-profile.png" alt="Default" width="25" height="25">
            Profile
        </li>
        <a href="{% url 'details profile' slug=user.slug pk=user.pk %}">
            Account Details
        </a>
        <a href="{% url 'edit password' slug=user.slug pk=user.pk %}">
            Change Password
        </a>
        <a href="{% url 'edit email' slug=user.slug pk=user.pk %}">
            Change Email
        </a>
        <a href="{% url 'reviewed games' slug=user.slug pk=user.pk %}">
            Reviewed Games
        </a>
        <a href="{% url 'favourite games' slug=user.slug pk=user.pk %}">
            Favourite Games
        </a>

    {% endif %}
</div>
</body>
</html>


{#{% load static %}#}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Navigation</title>#}
{#</head>#}
{#<body>#}
{#<link rel="stylesheet" href="{% static 'css/index.css' %}">#}
{#<nav class="header">#}
{#    <ul>#}
{#        <li >#}
{#            <a href="{% url 'index' %}">#}
{#                <img class="image-button" src="/static/images/sun.jpg" alt="Default" width="30" height="30">#}
{#            </a>#}
{#        </li>#}
{#        {% if not request.user.is_authenticated %}#}
{#            <li>#}
{#                <a href="{% url 'sign up user' %}" class="button">#}
{#                    Sign up#}
{#                </a>#}
{##}
{#                <a href="{% url 'sign in user' %}" class="button">#}
{#                    Sign in#}
{#                </a>#}
{#            </li>#}
{#        {% else %}#}
{#            <li>#}
{#                {% if not request.user.is_superuser %}#}
{#                    <a href="#" class="button">#}
{#                    No#}
{#                    </a>#}
{#                {% else %}#}
{#                    <a href="#" class="button">#}
{#                    Yes#}
{#                    </a>#}
{#                {% endif %}#}
{#                <a href="{% url 'profile'  slug=user.slug pk=user.pk %}" class="button">#}
{#                    Profile#}
{#                </a>#}
{##}
{#                <a href="{% url 'sign out user' %}" class="button">#}
{#                    Sign out#}
{#                </a>#}
{#            </li>#}
{#        {% endif %}#}
{#    </ul>#}
{#</nav>#}
{#</body>#}
{#</html>#}