{% load static %}
<!DOCTYPE html>
<html lang="en" class="bg">
<head>
    <meta charset="UTF-8">
    <title>GameCheck</title>
</head>
<body class="elements">
<link rel="stylesheet" href="{% static 'css/page.css' %}">
<header>
    {% include 'nav.html' %}
</header>

<div class="inline-order">
    {% if len == 0 %}
        <div class="box">
            <p class="font-size-24">No Reviewed Games!</p>
        </div>
    {% else %}
        <div class="inline-order">
        {% for game in games %}
            <div class="box">
                <p><img src="/media/{{ game.image }}" alt="temp-default.jpg" width="50" height="50"></p>
                <p>{{ game.title }}</p>
                <p>
                    <a class='button' href="{% url 'details game' pk=game.pk %}">Details game</a>
                </p>
            </div>
            {% if forloop.counter|divisibleby:4 %}
            </div>
                <div class="inline-order">
        {% endif %}
        {% endfor %}
            </div>
    {% endif %}
</div>
</body>
</html>
