{% load static %}
<!DOCTYPE html>
<html lang="en" class="bg">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body class="elements">
<link rel="stylesheet" href="{% static 'css/page.css' %}">
<header>
    {% include 'nav.html' %}
</header>
<div class="game-box">
    <p class="font-size-24">Create Account</p>
    <form method="post" action="{% url 'sign up user' %}">
        {{ form.as_p }}
        <button>Create account</button>
        {% csrf_token %}
    </form>
</div>
</body>
</html>
