{% load static %}
<!DOCTYPE html>
<html lang="en" class="bg">
<head>
    <meta charset="UTF-8">
    <title>GameCheck</title>
</head>
<body class="elements">

<header>
    {% include 'core/nav.html' %}
</header>
<link rel="stylesheet" href="{% static 'css/page.css' %}">
<div class="game-box">

    <p><img src="/media/{{ game.image }}" alt="temp-default.jpg" width="125" height="125"></p>

    <p>{{ game.title }}</p>

    <p>Score:{{ average }}/10.00</p>
    {% if personal_rating == 11 %}
        <p>Your Score:0.0/10.00</p>
    {% else %}
        <p>Your Score:{{ personal_rating }}/10.00</p>
    {% endif %}

    {% if not user_favourite or user_favourite.is_favourite == False %}

    {% else %}
        <img src="/images/star-profile.png" alt="Default" width="25" height="25">
    {% endif %}

    <div class="scrolldiv">
        {% for comment in game_comments %}
            <div class="inline-order">
                <div class="comment-box">
                    {{ comment.user }} - {{ comment.date_created }} -
                    {{ comment.content }}
                </div>
            </div>
        {% endfor %}
    </div>

    {% if has_commented %}
        <form method="post" action="{% url 'edit comment'  game.pk %} " enctype="multipart/form-data">
            {{ form.as_p }}
            <button class="button">Edit</button>
            {% csrf_token %}
        </form>
    {% else %}
        <form method="post" action="{% url 'comment game'  game.pk %} " enctype="multipart/form-data">
            {{ form.as_p }}
            <button class="button">Comment</button>
            {% csrf_token %}
        </form>
    {% endif %}

</div>
</body>
</html>