{% load static %}
<!DOCTYPE html>
<html lang="en" class="bg">
<head>
    <meta charset="UTF-8">
    <title>GameCheck</title>
</head>
<body class="elements">

<header>
    {% include 'core/nav.html' %}
</header>
<link rel="stylesheet" href="{% static 'css/page.css' %}">
{% if request.user.is_authenticated %}
    <div class="game-box">

        <p><img src="/media/{{ game.image }}" alt="temp-default.jpg" width="125" height="125"></p>

        <p>{{ game.title }}</p>

        <p>Score:{{ average }}/10.0</p>
        {% if personal_rating == 11 %}
            <p>Your Score:0.0/10.0</p>
        {% else %}
            <p>Your Score:{{ personal_rating }}/10.0</p>
        {% endif %}

        {% if not user_favourite or user_favourite.is_favourite == False %}

        {% else %}
            <img src="{% static '/images/star-profile.png' %}" alt="Default" width="25" height="25">
        {% endif %}

        {% if not user_favourite %}
            <a class="button" href="{% url 'favourite game' pk=game.pk %}">Add Fav</a>
        {% else %}
            <a class="button" href="{% url 'favourite game' pk=game.pk %}">Edit Fav</a>
        {% endif %}

        {% if personal_rating == 11 %}
            <a class="button" href="{% url 'rate game' pk=game.pk %}">Rate</a>
        {% else %}
            <a class="button" href="{% url 'rate game' pk=game.pk %}">Edit Rating</a>
        {% endif %}
        <div class="scrolldiv">
            {% for comment in game_comments %}
                <div class="inline-order">
                    <div class="comment-box">
                        {{ comment.user }} - {{ comment.date_created }} -
                        {{ comment.content }}
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if has_commented %}
            <a class="button" href="{% url 'edit comment' pk=game.pk %}">Edit Comment</a>
            <a class="button" href="{% url 'delete comment' pk=game.pk %}">Delete Comment</a>
        {% else %}
            <a class="button" href="{% url 'comment game' pk=game.pk %}">Comment</a>
        {% endif %}

    </div>
{% else %}
    <div class="small-box">
        <a class="button" href="{% url 'sign up user' %}">
                Create Account!
            </a>
    </div>
    <div class="game-box">

        <p><img src="/media/{{ game.image }}" alt="temp-default.jpg" width="125" height="125"></p>

        <p>{{ game.title }}</p>

        <p>Score:{{ average }}/10.0</p>

        <div class="scrolldiv">
            {% for comment in game_comments %}
                <div class="inline-order">
                    <div class="comment-box">
                        {{ comment.user }} - {{ comment.date_created }} -
                        {{ comment.content }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
</body>
</html>